<div style="width: 300px"
     class="d-flex flex-column p-3 bg-gray"
>
    <img src="{{thumbnail_name}}"
         alt = " movies thumbnail" height="300px" loading="lazy">
    <h2 class="fs-1">{{movie_name}}</h2>
    <h3>Year Released : {{released_year}}</h3>
    <button class="btn btn-outline-danger">
        <h4>Add to Favorite</h4>
    </button>
</div>