<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script defer src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Welcome Home</h1>
{{{body}}}
</body>
</html>