<style>
    #loading-svg{
        width: 25%;
        animation-name: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        /*animation-direction: alternate;*/
        animation-timing-function: linear;
        /*animation-fill-mode: forwards;*/
    }

    @keyframes rotate {
        0% {
            rotate: 0deg;
        }
        100% {
            rotate: 360deg;
        }
    }
</style>

<div class="container d-flex justify-content-center align-items-center ">
    <svg
        id="loading-svg"
        width="36" height="34" viewBox="0 0 360.598 341.619">
    <path id="Path_1" data-name="Path 1" d="M34.713,15.5A33.213,33.213,0,1,0,67.926,48.713,33.213,33.213,0,0,0,34.713,15.5Z" transform="translate(3.245 112.607)" fill="#006dff"/>
    <path id="Path_2" data-name="Path 2" d="M38.958,24.489A28.468,28.468,0,1,1,10.489,52.958,28.5,28.5,0,0,1,38.958,24.489m0-9.489A37.958,37.958,0,1,0,76.915,52.958,37.959,37.959,0,0,0,38.958,15Z" transform="translate(-1 108.363)" fill="#006dff"/>
    <path id="Path_3" data-name="Path 3" d="M53.479,17A18.979,18.979,0,1,0,72.458,35.979,18.979,18.979,0,0,0,53.479,17Z" transform="translate(283.396 125.341)" fill="#006dff"/>
    <path id="Path_4" data-name="Path 4" d="M57.724,25.989A14.234,14.234,0,1,1,43.489,40.224,14.252,14.252,0,0,1,57.724,25.989m0-9.489A23.724,23.724,0,1,0,81.447,40.224,23.72,23.72,0,0,0,57.724,16.5Z" transform="translate(279.151 121.097)" fill="#006dff"/>
    <path id="Path_5" data-name="Path 5" d="M28.989,2.5a9.489,9.489,0,1,0,9.489,9.489A9.489,9.489,0,0,0,28.989,2.5Z" transform="translate(156.054 2.245)" fill="#006dff"/>
    <path id="Path_6" data-name="Path 6" d="M33.234,11.489a4.745,4.745,0,1,1-4.745,4.745,4.746,4.746,0,0,1,4.745-4.745m0-9.489A14.234,14.234,0,1,0,47.468,16.234,14.239,14.239,0,0,0,33.234,2Z" transform="translate(151.81 -2)" fill="#006dff"/>
    <path id="Path_7" data-name="Path 7" d="M45.968,31.5A28.468,28.468,0,1,0,74.437,59.968,28.468,28.468,0,0,0,45.968,31.5Z" transform="translate(139.076 248.438)" fill="#006dff"/>
    <path id="Path_8" data-name="Path 8" d="M50.213,40.489A23.724,23.724,0,1,1,26.489,64.213,23.75,23.75,0,0,1,50.213,40.489m0-9.489A33.213,33.213,0,1,0,83.426,64.213,33.213,33.213,0,0,0,50.213,31Z" transform="translate(134.831 244.193)" fill="#006dff"/>
    <path id="Path_9" data-name="Path 9" d="M14.245,6.5a4.745,4.745,0,1,0,4.745,4.745A4.745,4.745,0,0,0,14.245,6.5Z" transform="translate(71.16 36.202)" fill="#006dff"/>
    <path id="Path_10" data-name="Path 10" d="M18.489,6a9.489,9.489,0,1,0,9.489,9.489A9.493,9.493,0,0,0,18.489,6Z" transform="translate(66.915 31.958)" fill="#006dff"/>
    <path id="Path_11" data-name="Path 11" d="M53.224,27.5A23.724,23.724,0,1,0,76.947,51.224,23.724,23.724,0,0,0,53.224,27.5Z" transform="translate(240.949 214.48)" fill="#006dff"/>
    <path id="Path_12" data-name="Path 12" d="M57.468,36.489A18.979,18.979,0,1,1,38.489,55.468,19,19,0,0,1,57.468,36.489m0-9.489A28.468,28.468,0,1,0,85.937,55.468,28.467,28.467,0,0,0,57.468,27Z" transform="translate(236.704 210.236)" fill="#006dff"/>
    <path id="Path_13" data-name="Path 13" d="M44.734,6.5A14.234,14.234,0,1,0,58.968,20.734,14.234,14.234,0,0,0,44.734,6.5Z" transform="translate(249.438 36.202)" fill="#006dff"/>
    <path id="Path_14" data-name="Path 14" d="M48.979,15.489a9.489,9.489,0,1,1-9.489,9.489,9.505,9.505,0,0,1,9.489-9.489m0-9.489A18.979,18.979,0,1,0,67.958,24.979,18.974,18.974,0,0,0,48.979,6Z" transform="translate(245.193 31.958)" fill="#006dff"/>
    <path id="Path_15" data-name="Path 15" d="M39.713,26.5A33.213,33.213,0,1,0,72.926,59.713,33.213,33.213,0,0,0,39.713,26.5Z" transform="translate(45.692 205.991)" fill="#006dff"/>
    <path id="Path_16" data-name="Path 16" d="M43.958,35.489A28.468,28.468,0,1,1,15.489,63.958,28.5,28.5,0,0,1,43.958,35.489m0-9.489A37.958,37.958,0,1,0,81.915,63.958,37.959,37.959,0,0,0,43.958,26Z" transform="translate(41.447 201.746)" fill="#006dff"/>
</svg>

</div>