
<div class="d-flex flex-column gap-2 justify-content-start align-items-center w-100">
    <div class="d-flex justify-content-center gap-5 w-50" >
        <input
            class="flex-grow-1 form-control fw-bold fw-bold border-0 border-bottom border-success"
           type="text"
           placeholder="search movies name...">
        <button class="btn btn-outline-success fw-bold" >
            Search
        </button>

        <!-- Modal -->
        <div class="modal fade "
             id="addMovieModal"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true"
             role="modal">
            <div class="modal-dialog" role="document">

                <form class="modal-content" method="post" action="/movies" enctype="multipart/form-data">
                    <div class="modal-header d-flex w-100 justify-content-center">
                        <h3 class="text-success">Add New Movie</h3>
                    </div>
                    <div class="modal-body d-flex flex-column w-100 gap-3">

                        <div class="preview-image d-none">
                            <img class="w-100" src="images/movies/After.jpg" alt="poster preview" id="thumbnail_preview">
                        </div>

                        <label for="thumbnail_input" class="form-label d-flex flex-column">
                            <h6 class="text-primary fw-bold">Poster Image</h6>
                            <input type="file" name="thumbnail" id="thumbnail_input" accept="image/*"
                                   class="form-control fw-bold"/>
                        </label>

                        <label for="movie_name" class="form-label d-flex flex-column">
                            <h6 class="text-primary fw-bold">Movie Name <span class="text-danger fw-bold">*</span></h6>
                            <input type="text" name="movie_name"
                                   class="form-control fw-bold" placeholder="Example: John Wick" required/>
                        </label>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox-show-more">
                            <label class="form-check-label fw-bold" for="checkbox-show-more">
                                Show More ...
                            </label>
                        </div>

                        <div class="show-more d-none flex-column">
                            <label for="released_year" class="form-label d-flex flex-column">
                                <h6 class="text-primary fw-bold">Released Year</h6>
                                <input type="number" name="released_year"
                                       class="form-control fw-bold" step="1" min="1900" max="2030" placeholder="Example: 2014"/>
                            </label>

                            <label for="country" class="form-label d-flex flex-column">
                                <h6 class="text-primary fw-bold">Country</h6>
                                <input type="text" name="country"
                                       class="form-control fw-bold" placeholder="Example: USA"/>
                            </label>

                            <label for="single_or_series" class="form-label d-flex flex-column">
                                <h6 class="text-primary fw-bold">Single Or Series</h6>
                                <select name="single_or_series"
                                        class="form-control fw-bold fw-bold" value="Single">
                                    <option value="single" selected class="fw-bold" >Single</option>
                                    <option value="series" class="fw-bold" >Series</option>
                                    <option value="single_but_parts" class="fw-bold" >Single But Parts</option>
                                </select>
                            </label>

                            <label for="storage_path" class="form-label d-flex flex-column">
                                <h6 class="text-primary fw-bold">Storage Path</h6>
                                <input type="text" name="storage_path"
                                       class="form-control fw-bold" placeholder="Example: c:/users/dere/desktop/films"/>
                            </label>

                            <label for="actors" class="form-label d-flex flex-column">
                                <h6 class="text-primary fw-bold">Actors</h6>
                                <input type="text" name="actors"
                                       class="form-control fw-bold" placeholder="Example: jason statham, john cena, jacky chian"/>
                            </label>
                        </div>

                    </div>
                    <div class="modal-footer d-flex gap-3 flex-wrap align-items-center justify-content-center">

                        <label for="adminID" class="form-label d-flex flex-column">
                            <h6 class="text-primary fw-bold">Admin ID <span class="text-danger fw-bold">*</span></h6>
                            <input type="number" name="adminID"
                                  id="adminID" class="form-control fw-bold" placeholder="123456"/>
                        </label>

                        <button type="submit" class="btn btn-success">
                            <h5>Add Movie</h5>
                        </button>

                    </div>
                </form>
            </div>

        </div>

        <button
            type="button"
            data-toggle="modal"
            data-target="#addMovieModal"
            class="btn d-flex justify-content-center align-items-center bg-danger text-white rounded rounded-circle">+
        </button>

        <!-- Modal -->
        <div class="modal fade "
             id="movieSelection"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true"
             role="modal">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header d-flex w-100 justify-content-center">
                        <h3 class="text-success">Selected Movies</h3>
                    </div>
                    <div class="modal-body d-flex flex-column w-100 gap-3 " id="movie-modal-body">

                    </div>
                    <div class="modal-footer d-flex gap-3 flex-wrap align-items-center justify-content-center">
                    </div>
                </div>
            </div>

        </div>
        <button
                type="button"
                data-toggle="modal"
                data-target="#movieSelection"
                class="btn d-flex justify-content-center align-items-center bg-primary text-white rounded rounded-3">SM
        </button>
    </div>

    <p>{{message}}</p>

    <div class="movies d-flex flex-wrap gap-5 gap-sm-2 justify-content-center align-items-start">
        {{#each movies}}
            {{> movieCard}}
        {{/each}}
    </div>

</div>

<script src="/script/index.js"></script>