<div class="d-flex flex-column flex-wrap gap-2 justify-content-start align-items-center flex-grow-1 w-100 h-100 ">
    <div class="d-flex w-75 justify-content-center gap-3" >
        <input class="flex-grow-1 form-control fs-5 fw-bold w-75 border-0 border-bottom border-success" type="text" placeholder="search movies name...">
        <button class="btn btn-outline-success fs-5 fw-bold  w-25" >Search</button>
    </div>

    <p>{{message}}</p>

    <div class="movies d-flex flex-wrap gap-2 justify-content-center align-items-start">
        {{#each movies}}
            {{> movieCard}}
        {{/each}}
    </div>
</div>